.popup__style {
    max-width: 325px;
    min-width: 325px;
    background-color: rgba(247, 247, 247, 0.964);
    border-radius: 9px;
    position: relative;
    box-shadow: 0 0 25px 2px #efe9d0b5;
}


@media screen and (max-width: 500px) {
    .popup__style {
        max-width: 300px;
        min-width: 300px;
    }
}

@media screen and (max-width: 375px) {
    .popup__style {
        max-width: 280px;
        min-width: 280px;
    }
}