.header__logo {
    width: 200px;
    height: 100px;
}

@media screen and (max-width: 1024px) {
    .header__logo {
        width: 190px;
        height: 95px;
    }
}

@media screen and (max-width: 900px) {
    .header__logo {
        width: 175px;
        height: 87.5px;
    }
}

@media screen and (max-width: 720px) {
    .header__logo {
        grid-column: 1/2;
        grid-row: 1/2;
        width: 200px;
        height: 100px;
    }
}

@media screen and (max-width: 540px) {
    .header__logo {
        width: 175px;
        height: 87.5px;
    }
}

@media screen and (max-width: 480px) {
    .header__logo {
        width: 165px;
        height: calc(165px / 2);
    }
}

@media screen and (max-width: 430px) {
    .header__logo {
       width: 140px;
       height: calc(140px / 2);
    }
}

@media screen and (max-width: 390px) {
    .header__logo {
       width: 130px;
       height: calc(130px / 2);
    }
}