.content__background-image {
    width: 100%;
    height: 100vh;
    background-image: url('../../../images/backG.jpg');
    background-size: cover;
    background-position: 100% 60%;
    filter: blur(9px) sepia(80%) brightness(0.2) saturate(0.5);
    position: fixed;
    top: 0.1px;
    z-index: -10;
}

.content__background-image_delete-theme {
    filter: blur(7px) sepia(80%) brightness(0.11) saturate(0.7);
}

@media screen and (max-width: 650px) {
    .content__background-image {
        filter: blur(6.5px) sepia(80%) brightness(.21) saturate(.5);
    }

    .content__background-image_delete-theme {
        filter: blur(6.5px) sepia(80%) brightness(0.11) saturate(0.7);
    }
}