.card__info {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

@media screen and (max-width: 830px) {
    .card__info {
        margin-left: 22px;
    }
}

@media screen and (max-width: 630px) {
    .card__info {
        margin-left: 15px;
    }
}