.popup__input {
    font-family: inherit;
    padding: 3.8px;
    margin-bottom: 25px;
    border: solid rgb(75 102 127) 2px;
    border-radius: 3px;
}

.popup__input:last-of-type {
    margin-bottom: 45px;
}

.popup__input:focus {
    outline: none;
    transition: border-color 0.35s;
    border: solid transparent 2px;
    box-shadow: 0 0 0 3px rgb(197, 227, 25);
}

@media screen and (max-width: 500px) {
    .popup__input {
        margin-bottom: 20px;
    }

    .popup__input:last-of-type {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 375px) {
    .popup__input {
        margin-bottom: 15px;
    }
}