.popup__close_upside {
    width: 26px;
    height: 26px;
    right: 0;
    top: -50px;
}

@media screen and (max-width: 725px) {
    .popup__close_upside {
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 425px) {
    .popup__close_upside {
        width: 24px;
        height: 24px;
    }
}